.switch {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  width: 56px;
  height: 28px;
  background-color: #fff;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.switch:hover {
  border-color: #000;
}

.switch:hover .switch__slider {
  left: 0;
}

.switch:hover .switch__check-box:checked ~ .switch__slider {
  right: 0;
}

.switch:hover .switch__C-text {
  color: #000;
}

.switch:hover .switch__check-box:checked ~ .switch__F-text {
  color: #000;
}

.switch__check-box {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch__check-box:checked + .switch__slider {
  right: -2px;
  left: unset;
}

.switch__check-box:checked ~ .switch__C-text {
  color: #fff;
}

.switch__check-box:checked ~ .switch__F-text {
  color: #00000080;
}

.switch__slider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background-color: #000;
}

.switch__unit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 14px;
  z-index: 2;
}

.switch__F-text {
  color: #fff;
}

.switch__C-text {
  color: #00000080;
  padding-left: 5px;
}

/* .react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
} */
