.button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button_type_text {
  line-height: 1.2;
  margin-right: 20px;
}

.button_type_profile {
  line-height: 1;
}

.button_type_close {
  position: absolute;
  font-size: 20px;
}

.button_type_submit {
  color: #fff;
  background-color: #000;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 4px;
}

.button_type_submit:hover {
  background-color: hsla(0, 0%, 0%, 0.6);
}

.button_type_submit:disabled {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.button_type_or {
  color: #00000080;
  background-color: transparent;
  font-weight: 700;
  line-height: 20px;
  padding: 10px;
  border-radius: 4px;
}

.button_type_like {
  width: 18px;
  height: 15px;
}

.button_liked {
  background-image: url("../../assets/liked.svg");
}

.button_disliked {
  background-image: url("../../assets/disliked.svg");
}

.button_color_white {
  color: #fff;
}

.button_color_gray {
  color: #00000099;
}

.button_color_red {
  color: #ff4d00;
}
