.form {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fff;
  padding: 28px 28px 36px;
}

.form__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 24px;
}

.form__button_type_close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.form__input-container {
  margin-bottom: 32px;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label_block {
  display: block;
}

.form__label_gray {
  color: hsla(0, 0%, 0%, 0.5);
}

.form__input {
  width: 440px;
  font-weight: 700;
  padding: 0 0 4px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 0 24px;
}

.form__input_invalid {
  border-bottom: 2px solid #ff0000;
}

.form__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: -20px;
  margin-bottom: 24px;
}

.form__error_visible {
  visibility: visible;
}

.form__error_hidden {
  visibility: hidden;
}

.form__field:not(:last-child) {
  margin-bottom: 8px;
}

.form__fieldset {
  padding: 0;
  border: none;
  margin: 0 0 32px;
}

.form__legend {
  margin-bottom: 12px;
}

.form__radio-button {
  accent-color: #000;
  margin-right: 8px;
}

.form__radio-button:checked + .form__label {
  color: #000;
}

.form__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: -20px;
  margin-bottom: 24px;
}

.form__error:last-of-type {
  margin-bottom: 20px;
}
