.item-card {
  box-sizing: border-box;
  position: relative;
  width: 325px;
  height: 326px;
  border: 1px solid #0000004d;
  border-radius: 19px;
  overflow: hidden;
}

.item-card__title {
  color: #00000099;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 0;
}

.item-card__header {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}

.item-card__image {
  width: 325px;
}
