.weather-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 80px;
  background-image: url("./../../assets/cloudy.svg");
  background-size: cover;
  border-radius: 12px;
  padding-left: 16px;
}

.weather-card__temperature {
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
}
