.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  position: absolute;
  left: -10000px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.header__logo {
  width: 89px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  margin-right: 24px;
}

.header__date-location {
  line-height: 1.2;
  margin-top: 12px;
}

.header__button {
  margin-right: 20px;
}

.header__link-wrapper {
  text-decoration: none;
}

.header__user-name {
  color: #000;
  line-height: 1;
  margin-right: 12px;
}
