.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  position: absolute;
  left: -10000px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.header__logo {
  width: 89px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  margin-right: 24px;
}

.header__date-location {
  line-height: 1.2;
  margin-top: 6px;
}

.header__error {
  color: #ff0000;
  font-size: 12px;
  margin-left: 10px;
}

.header__button {
  margin-right: 20px;
}

.header__link-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__user-name {
  color: #000;
  line-height: 1;
  margin-right: 12px;
}

.header__avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #00000080;
}

.header__avatar {
  width: 100%;
  border-radius: 50%;
}
