.item-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 498px;
  background-color: #fff;
  font-size: 20px;
  border-radius: 16px;
  overflow: hidden;
}

.item-modal__button_type_close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.item-modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px 32px;
}

.item-modal__image {
  width: 498px;
}

.item-modal__title {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px;
}

.item-modal__weather {
  line-height: 24px;
  margin: 0;
}

.item-modal__delete-button {
  align-self: flex-start;
}
