.side-bar {
  flex: 0 0 345px;
}

.side-bar__container {
  display: flex;
  align-items: center;
}

.side-bar__avatar {
  width: 56px;
  height: 56px;
  padding-right: 16px;
}

.side-bar__user-name {
  line-height: 1;
}
