.side-bar {
  display: flex;
  flex: 0 0 345px;
  flex-direction: column;
  gap: 24px;
}

.side-bar__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.side-bar__avatar {
  width: 56px;
  height: 56px;
  border: 1px solid #00000080;
  border-radius: 50%;
}

.side-bar__user-name {
  line-height: 1;
}

.side-bar__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
